@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  margin: 0;
  background-color: whitesmoke;
}

.wrapper {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 6px 0;
  display: flex;
  height: inherit;
  box-sizing: border-box;
}

.output {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 8px;
  width: 100%;
  max-width: 320px;
  border-radius: 5px;
  margin: 50px auto;
}

.output-text {
  color: rgba(0, 0, 0, 0.6);
}

.output-value {
  margin-left: 6px;
  color: black;
}

.header {
  height: 48px;
  width: 100%;
  background-color: bisque;
}

.user-name {
  padding-left: 12px;
}

.header__search-input {
  width: 40%;
  height: 36px;
  padding: 0 4px;
  border-radius: 3px;
  border: none;
  font-size: 1.25rem;
  flex-grow: 1;
}

.header__search-form {
  height: 36px;
  box-sizing: border-box;
  flex-grow: 1;
}

.header__search-text {
  margin: 0 0 0 auto;
  height: 26px;
  align-self: center;
}

.header__search-submit {
  border: 2px solid white;
  border-radius: 3px;
  height: 36px;
  font-size: 1.25rem;
  margin-left: 4px;
  width: 10%;
  background-color: bisque;
}

.header__search-submit:hover,
.header__search-submit:focus {
  background-color: white;
}

.header__search-submit:active {
  color: white;
  background-color: bisque;
}

.profile-button {
  
  background-color: #0FBC42;
  color: white;
  border: none;
  border-radius: 3px;
  width: 60%;
  font-size: 0.8em;
  height: 34px;
}

.profile-button:hover,
.profile-button:focus {
  background-color: #0D9936;
}

.profile-button:active {
  color: rgba(256, 256, 256, 0.6);
}